.sideNavBlock {
  color: white;
  background-color: darkslategrey;

  border-right: 4px solid black;

  float: left;
  height: 100%;
  overflow: auto;
}
 
.sideNavBlock h2 {
  text-align: center;
  margin-top: 0px;
  padding-top: 35px;
  padding-bottom: 34px;
  border-bottom: 4px solid black;
  background-color: #282C34;
  color: grey;
}

.portfolioImg {
  height: 200px;
  margin: 8px;
  /* margin-top: 45px; */
}

.linkBox {
  font-size:24px;
  margin-left: 5px;
  margin-top: 30px;
}

.linkBox ul {
  margin-left: -40px;
}

.linkBox li {
  text-align: center;
  margin: 4px;
  list-style-type: none;
  margin-bottom: 10px;
}

.linkBox ul li:hover{
  /* border: 2px solid white;
  border-radius: 20px; */
  transform: scale(1.3);
}

.linkBox ul a:link {
  color: white;
  text-decoration: none;
}

.linkBox ul a:visited {
  color: white;
}