.sideNavBlock {
  color: white;
  background-color: darkslategrey;

  border-right: 4px solid black;

  float: left;
  height: 100%;
}
.sideNavBlock h3 {
  text-align: center;
}

.portfolioImg {
  height: 200px;
  margin: 5px;
}

.linkBox {
  font-size:24px;
  margin-left: 5px;
}

.linkBox ul {
  margin-left: -40px;
}

.linkBox li {
  text-align: center;
  margin: 4px;
  list-style-type: none;
}

.linkBox ul li:hover{
  border: 2px solid white;
  margin: 2px;
  border-radius: 20px;
}

.linkBox ul a:link {
  color: white;
  text-decoration: none;
}

.linkBox ul a:visited {
  color: white;
}