.sideNavBlock {
  color: white;
  background-color: darkslategrey;

  border-right: 4px solid black;

  float: left;
  height: 100%;
  overflow: auto;
}

.sideNavBlock h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 55px;
  border-bottom: 4px solid black;
}

.portfolioImg {
  height: 200px;
  margin: 5px;
  /* margin-top: 45px; */
}

.linkBox {
  font-size:24px;
  margin-left: 5px;
  margin-top: 45px;
}

.linkBox ul {
  margin-left: -40px;
}

.linkBox li {
  text-align: center;
  margin: 4px;
  list-style-type: none;
  margin-bottom: 20px;
}

.linkBox ul li:hover{
  border: 2px solid white;
  border-radius: 20px;
}

.linkBox ul a:link {
  color: white;
  text-decoration: none;
}

.linkBox ul a:visited {
  color: white;
}