.content-container{
  height: 100%;
  background-color: white;
  margin: auto;
  overflow: scroll; 
}

.content-container header a:link {
  color: white;
  text-decoration: none;
}

.content-container header a:visited {
  color: white;
}