.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:darkslategray;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index:1000;
  visibility: hidden;
}

#navButtonMenu{
	position:fixed;
	right:40px;
	padding-bottom:20px;
	bottom:80px;
  z-index:100;
}

#navButtonMenu li{
	list-style:none;
	margin-bottom:10px;
}

#navButtonMenu li a{
	background-color: darkslategray;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:60px;
	height:60px;
	display:block;
}

#navButtonMenu:hover{
	visibility:visible!important;
	opacity:1!important;
}


.my-float{
	font-size:24px;
	margin-top:18px;
}

span#menu-share + ul{
  visibility: hidden;
}

span#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}
