.articleLinks {
  font-size: 24px;

  margin: 50px;
  padding: 20px;

  background-color: #282C34;
  border-radius: 20px;
  color: #F22749; /* Link button */
}

.articleLinks :hover {
  font-size: 30px;
}

.articleLink {
  margin: 10px;
}

.articleLink a {
  color: #91B974;
  margin: 10px;
}

.ArticleIndex-container {
  margin: 15px;
}
