.card-box {
  text-align: center;
  background-color: darkslategray;
  color: white;
  border-radius: 25px;
  margin: 8px;
  margin-bottom: 16px;
  box-shadow: 15px 15px 10px black;
}

.btn-group :hover {
  transform: scale(1.3);
}

.card-text {
  margin: 4px;
}

.card-title {
  background-color:#282C34;
  border-radius: 25px;
  width: 80%;
  margin: 10px 30px 10px 30px;
}

.btn-group button{
  margin: 10px;
}

.card-box img {
  width: 100%;
  height: 250px;
}